.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #fcf0d6;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #4A8633
}

.cards {
  margin: 30px;
  padding: 10px;
  display: inline-flex;
  background-color: #D3F3C9;
  border-radius: 20px;
}

.title {
  font-size: 16pt;
  margin-bottom: 0px;
}

.address {
  margin-top: 2px;
  font-size: 14pt;
  margin-bottom: 3px;
}

.stars {
  font-size: 11pt;
}
